body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
}

form {
  border: 3px solid #f1f1f1;
  width: 50%;
  margin-left: 24px;
  display: flex;
  justify-content: center;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.large-button {
    width: 125px;
    float: right;
}


.cancelbtn {
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 50%;
    border-radius: 50%;
}

.container {
    display: inline-block;
    padding: 16px;
    /*background-color: #333333;*/
}

aside {
    float: left;
    font-family: Calibri;
    font-size: 16pt;
    color: #ECECF6;
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
}

li:hover {
    opacity: 0.6;
    font-weight: bolder;
}

span button {
    display: inline-flex;
    width: 33%;
    text-align: center;
    justify-content: center;
}

p {
    padding: 24px;
}

.tag-name {
    font-family: monospace;
}

.css-description {
    color: #CCCCCC;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
                 0 3px 0 #777777, 0 4px 0 #666666,
                 0 5px 0 #555555, 0 6px 0 #444444,
                 0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
                 0 9px 10px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    font-size: 16pt;
}

span.special {
    color: #D0F8FF;
    font-style: oblique;
    font-weight: bolder;
    font-size: 20pt;
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
}

.special {
    font-weight: bolder;
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
}

footer {
    padding: 16px;
    display: flex;
    justify-content: center;
    background-color: #CCCCCC;
}

footer span {
    margin-left: 24px;
    text-transform: uppercase;
}

.left {
    float: left;
}

.clearfix {
  overflow: auto;
}

.select {
    padding: 16px;
    margin: 8px;
}

.class-desc {
    color: #FFFFFF;
    text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
                 2px -1px 0 #000000, 3px 0 0 #000000;
}

.class-desc:hover{
    background-color: yellow;
    text-transform: uppercase;
}

.dates {
    margin: 8px;
    padding: 8px;
}
